@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  box-sizing: border-box;
  overflow: hidden;
}

.App {
  background: #f4f7fa;
  height: 100vh;
  width: 100vw;
}

.app-container {
  display: flex;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main-container {
  background: #fff;
  min-height: calc(100% - 40px);
  max-width: calc(100% - 40px);
  margin: 20px;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.home-bg {
  background: url('./images/home-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 56px);
}